<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        
		<property name="hibernate.connection.url">jdbc:mysql://localhost/tmsassessment</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">secret</property>
		<property name="hibernate.connection.pool_size">25</property>
        <property name="hibernate.globally_quoted_identifiers">true</property>
		
        <property name="hibernate.default_schema">tmsassessment</property>
		<property name="hibernate.hbm2ddl.auto">validate</property>
		
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">false</property>
	    <property name="hibernate.current_session_context_class">thread</property>
	    
	    <property name="validationQuery">SELECT 1</property>
	    <!-- <property name="validationInterval">34000</property> --> 
	    <property name="validationInterval">10</property>

	    <property name="testOnBorrow">true</property>
	    <property name="removeAbandoned">true</property>
	    <property name="removeAbandonedTimeout">55</property>
	    
        <mapping resource="za/co/tms/obj/Company.hbm.xml"/>
        <mapping resource="za/co/tms/obj/Fleet.hbm.xml"/>
        <mapping resource="za/co/tms/obj/FleetTransferLog.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
